<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>加入字节跳动</title>
    <link rel="stylesheet" href="../css/css.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2332309_jk8g8h3dfm.css">
    <style>@font-face {
        font-family: 'icomoon';
        src:  url('fonts/icomoon.eot?ehjytq');
        src:  url('fonts/icomoon.eot?ehjytq#iefix') format('embedded-opentype'),
          url('fonts/icomoon.ttf?ehjytq') format('truetype'),
          url('fonts/icomoon.woff?ehjytq') format('woff'),
          url('fonts/icomoon.svg?ehjytq#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
      </style>
      
</head>
<body>
        <div class="top-div">
            <div class="top-ico"><span class="iconfont icon-zijietiaodong"></span></div>
            <div class="top-nav">
                <ul>
                    <li>主页</li>
                    <li>职位</li>
                    <li><a href="../加入字节跳动02.html"></a> 产品与服务</li>
                    <li>校园招聘</li>
                    <li><div class="top-border"></div></li>
                    <li>登录</li>
                </ul>
            </div>
        </div>
        <div class="top-introduce">和优秀的人 做有挑战的事</div>
        <div class="top-introduce-down">
            <div class="top-slogan"></div>
            <div class="top-english">J &nbsp;&nbsp;O &nbsp;&nbsp;I &nbsp;&nbsp;N &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B &nbsp;&nbsp;Y &nbsp;&nbsp;T &nbsp;&nbsp;E&nbsp;&nbsp; D&nbsp;&nbsp; A&nbsp;&nbsp; N &nbsp;&nbsp;C &nbsp;&nbsp;E</div>
            <div class="top-slogan"></div>
        </div>
        <div class="search-box">
            <form>
                <input class="search-txt" type="text" placeholder="输入城市或职位进行搜索">
                <span id="icon-span" onmouseover="iconColor1()" onmouseout="iconColor2()"></span>
            </form>
        </div>

        <!-- 视频 -->
        <div class="homepage-div">
            <video autoplay muted loop poster="../images/video-poster.png" id="homepage-video">
                <source src="../plugins/background-video.mp4">
            </video>
        </div>


        <!-- 产品 -->
        <div class="product-div">
            <div class="product-top1">Inspire creativity, enrich life</div>
            <div class="product-top2">截至目前，字节跳动产品已覆盖超过 150 个国家和地区，75 个语种</div>
            <div class="product-list">

                <!-- 十个圆框 -->
                <span class="product-tile">
                    <img class="product-img" src="../images/product-1.png" style="height: 90px; width: 90px; margin-top: 138px;">
                    <div class="productImg-div" style="font-size: 18px; text-align: center; height: 28px;">Faceu激萌</div>
                </span>
                <span class="product-tile">
                    <img class="product-img" src="../images/product-2.png" style="height: 90px; width: 90px; margin-top: 104px;">
                    <div class="productImg-div" style="font-size: 18px; text-align: center; height: 28px;">GOGoKid</div>
                </span>
                <span class="product-tile">
                    <img class="product-img" src="../images/product-3.png" style="height: 90px; width: 90px; margin-top: 70px;">
                    <div class="productImg-div" style="font-size: 18px; text-align: center; height: 28px;">西瓜视频</div>
                </span>
                <span class="product-tile">
                    <img class="product-img" src="../images/product-4.png" style="height: 90px; width: 90px; margin-top: 34px;">
                    <div class="productImg-div" style="font-size: 18px; text-align: center; height: 28px;">飞书</div>
                </span>
                <span class="product-tile">
                    <img class="product-img" src="../images/product-5.png" style="height: 90px; width: 90px; margin-top: 0px;">
                    <div class="productImg-div" style="font-size: 18px; text-align: center; height: 28px;">今日头条</div>
                </span>
                <span class="product-tile">
                    <img class="product-img" src="../images/product-6.png" style="height: 90px; width: 90px; margin-top: 0px;">
                    <div class="productImg-div" style="font-size: 18px; text-align: center; height: 28px;">抖音</div>
                </span>
                <span class="product-tile">
                    <img class="product-img" src="../images/product-7.png" style="height: 90px; width: 90px; margin-top: 34px;">
                    <div class="productImg-div" style="font-size: 18px; text-align: center; height: 28px;">番茄小说</div>
                </span>
                <span class="product-tile">
                    <img class="product-img" src="../images/product-8.png" style="height: 90px; width: 90px; margin-top: 70px;">
                    <div class="productImg-div" style="font-size: 18px; text-align: center; height: 28px;">懂车帝</div>
                </span>
                <span class="product-tile">
                    <img class="product-img" src="../images/product-9.png" style="height: 90px; width: 90px; margin-top: 104px;">
                    <div class="productImg-div" style="font-size: 18px; text-align: center; height: 28px;">皮皮虾</div>
                </span>
                <span class="product-tile">
                    <img class="product-img" src="../images/product-10.png" style="height: 90px; width: 90px; margin-top: 138px;">
                    <div class="productImg-div" style="font-size: 18px; text-align: center; height: 28px;">轻颜相机</div>
                </span>
            </div>
            <div class="product-button" id="productButton" onmouseover="colorChange1()" onmouseout="colorChange2()">了解更多</div>
        </div>



<!-- 职位 -->

        <div class="jobs-div">
            <div class="jobs-top1">探索你感兴趣的职位</div>
            <div class="jobs-top2">W H A T'S &nbsp;&nbsp;&nbsp;Y O U R &nbsp;&nbsp;&nbsp; P A S S I O N</div>
            <div class="jobs-list">

                <!-- 八个圆框 -->
                <span>
                    <img class="jobs-img" src="../images/jobs-1.png" style="width: 270px; height: 270px;">
                    <div style="text-align: center; font-size: 26px; margin-top: 30px;">研发</div>
                </span>
                <span>
                    <img class="jobs-img"  src="../images/jobs-2.png" style="width: 270px; height: 270px;">
                    <div style="text-align: center; font-size: 26px; margin-top: 30px;">产品</div>
                </span>
                <span>
                    <img class="jobs-img"  src="../images/jobs-3.png" style="width: 270px; height: 270px;">
                    <div style="text-align: center; font-size: 26px; margin-top: 30px;">运营</div>
                </span>
                <span>
                    <img class="jobs-img"  src="../images/jobs-4.png" style="width: 270px; height: 270px;">
                    <div style="text-align: center; font-size: 26px; margin-top: 30px;">设计</div>
                </span>
                <span>
                    <img class="jobs-img"  src="../images/jobs-5.png" style="width: 270px; height: 270px;">
                    <div style="text-align: center; font-size: 26px; margin-top: 30px;">市场</div>
                </span>
                <span>
                    <img class="jobs-img"  src="../images/jobs-6.png" style="width: 270px; height: 270px;">
                    <div style="text-align: center; font-size: 26px; margin-top: 30px;">销售</div>
                </span>
                <span>
                    <img class="jobs-img"  src="../images/jobs-7.png" style="width: 270px; height: 270px;">
                    <div style="text-align: center; font-size: 26px; margin-top: 30px;">职能/支持</div>
                </span>
                <span>
                    <img class="jobs-img"  src="../images/jobs-8.png" style="width: 270px; height: 270px;">
                </span>
            </div>    
        </div>

<!-- 字节style -->
        
        <div class="bytestyle-div">
            <div class="bytestyle-intrdoce1">
                <div style="font-size: 35px; position: absolute; margin-top: 16px; margin-left: 200px; font-weight: bold;">字节范</div>
                <div style="font-size: 55px; color: #f6f6f7; margin-top: 90px; margin-left: 200px; font-weight: bold;">B&nbsp;Y&nbsp;T&nbsp;E&nbsp;S&nbsp;T&nbsp;Y&nbsp;L&nbsp;E</div>
                <div style="font-size: 20px; color: #656a73; margin-top: 40px; margin-left: 200px;">字节范是字节跳动企业文化的重要组成部分，是我们共同认可的行为准则</div>
            </div>
            <div class="bytestyle-content">
                <img id="conImg" src="../images/bytestyle1.png" width="1090px" style="display: inline-block;">
                <div class="bytestyleContent" id="bytestyleContent">
                    <li style="display: block;">
                        <h1 style="color: #656a73; cursor: pointer;">追求极致</h1>
                        <div>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 28px;">不断提高要求，延迟满足感</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">在更大范围里找最优解，不放过问题，思考本质</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">持续学习和成长</h3>
                        </div>
                    </li>
                    <li style="display: block; margin-top: 40px;">
                        <h1 style="color: #656a73; cursor: pointer;">务实敢为</h1>
                        <div style="display: none;">
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 28px;">直接体验，深入事实</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">不自嗨，注重效果，能突破有担当，打破定式</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">尝试多种可能，快速迭代</h3>
                        </div>
                    </li>
                    <li style="display: block;  margin-top: 40px;">
                        <h1 style="color: #656a73; cursor: pointer;">开放谦逊</h1>
                        <div style="display: none; ">                        
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 28px;">内心阳光，信任伙伴</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">乐于助人和求助，合作成大事</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">格局大，上个台阶想问题</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">对外敏锐谦虚，ego 小，听得进意见</h3>
                        </div>
                    </li>
                    <li style="display: block; margin-top: 40px;">
                        <h1 style="color: #656a73; cursor: pointer;">坦诚清晰</h1>
                        <div style="display: none;">
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 28px;">敢当面表达真实想法</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">能承认错误，不装不爱面子</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">实事求是，暴露问题，反对“向上管理”</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">准确、简洁、直接，有条理有重点</h3>
                        </div>
                    </li>
                    <li style="display: block; margin-top: 40px;">
                        <h1 style="color: #656a73; cursor: pointer;">始终创业</h1>
                        <div style="display: none;">
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 28px;">自驱，不设边界，不怕麻烦</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">有韧性，直面现实并改变它</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">拥抱变化，对不确定性保持乐观</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">始终像公司创业第一天那样思考</h3>
                        </div>
                    </li>
                    <li style="display: block; margin-top: 40px;">
                        <h1 style="color: #656a73; cursor: pointer;">多元兼容</h1>
                        <div style="display: none;">
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 28px;">理解并重视差异和多元，建立火星视角</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">打造多元化的团队，欢迎不同背景的人才，激发潜力</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">鼓励人人参与，集思广益，主动用不同的想法来挑战自己</h3>
                            <h3 style="color: #afb2b7; font-weight: normal; margin-top: 10px;">创造海纳百川，兼容友好的工作环境</h3>
                        </div>
                    </li>
                </div>
            </div>



            <!-- 字节生活 -->
            <div class="bytestyle-intrdoce2">
                <div style="font-size: 34px; font-weight: bold; position: absolute; margin-left: 200px;">字节生活</div>
                <div style="font-size: 40px; color: #f6f6f7; margin-left: 200px;">B&nbsp;Y&nbsp;T&nbsp;E&nbsp;L&nbsp;I&nbsp;F&nbsp;E</div>
                <div style="font-size: 34px; font-weight: bold; position: absolute; margin-top: 110px; margin-left: 200px;">
                    <p>在平等开放的氛围</p>
                    <p>里工作</p>
                </div>
                <div style="font-size: 115px; font-weight: bold; color: #f6f6f7; margin-top: 60px; margin-left: 200px;">01</div>
                <div class="stylelisfe-con">
                    <div class="stylelisfeCon-font">
                        <h2 style="margin-top: 50px;">务实平等的工作氛围</h2>
                        <p>不讲 title 和层级，敢于授权新人，专注完成业务目标，没</p>
                        <p>有领地意识</p>

                        <h2 style="margin-top: 30px;">弹性灵活的工作时间</h2>
                        <p>上下班无需打卡，效率为先，你的工作节奏，由你自己来</p>
                        <p>掌控</p>

                        <h2 style="margin-top: 30px;">高效开放的办公环境</h2>
                        <p>开放式工位，即时讨论，让灵感碰撞不受空间约束</p>
                    </div>
                    <img class="stylelisfeCon-img" src="../images/bytelife1.png">
                </div>
            </div>


            <!-- 字节生活2 -->
            <div class="bytelife2">
                <img src="../images/bytelife2.png">
                <div class="bytestyle-intrdoce3">
                    <div style="position: absolute; width: 400px;">
                        <p>关注每一位</p>
                        <p>ByteDancer 的成长</p>
                    </div>
                    <div style="font-size: 115px; font-weight: bold; color: #f6f6f7;">03</div>
                    <div  class="stylelisfe-con">
                        <p style="margin-top: 40px;">字节跳动拥有较为完善的职业发展体系，充分贴近年轻员</p>
                        <p>工追求自我发展的定位，为员工提供具有针对性和差异化</p>
                        <p>的培训项目</p>
                        <p style="margin-top: 50px;">设立专门的“人才发展”部门，与各业务部门协同推出领</p>
                        <p>导力培养项目跃计划（Jump Program）、研发新员工培训</p>
                        <p>项目 Bootcamp、海外员工培训计划 NBO（New</p>
                        <p>Bytedancer Orientation）、校招生培训项目舞计划</p>
                        <p>（Dance Program）等</p>
                    </div>
                </div>
            </div>


            <!-- 字节生活3 -->
            <div class="bytelife3">
                <div class="bytelife3-con">
                    <div style="position: absolute; margin-top: 60px;">
                        <p>全方位贴心关爱</p>
                        <p>你的生活</p>
                    </div>
                    <div style="font-size: 115px; font-weight: bold; color: #f6f6f7;">03</div>
                    <div class="bytelife3Con-font">
                        <h2 style="margin-top: 50px;">免费三餐和就近住房补贴</h2>
                        <p>提供营养均衡的三餐及下午茶，零食饮料水果无限供应。</p>
                        <p>住房补贴分担你的生活成本，有效节省通勤时间，把精力</p>
                        <p>投资在更有意义的事情上</p>

                        <h2 style="margin-top: 40px;">完善的商业保险</h2>
                        <p>五险一金及补充商业保险，公司是你前进路上的坚实后盾</p>

                        <h2 style="margin-top: 40px;">多样的健康关怀</h2>
                        <p>年度体检，免费健身房和康体娱乐中心，“字节心晴”心</p>
                        <p>理关怀福利，帮助大家健康快乐地工作和生活</p>
                    </div>
                </div>
                <img src="../images/bytelife3.png">
            </div>


            <!-- 字节生活4 -->
            <div class="bytelife4">
                <img src="../images/bytelife4.png">
                <div class="bytelife4-con">
                    <div style="position: absolute; margin-top: 60px;     font-size: 34px; 
                    font-weight: bold;">
                        <p>感恩家人的支持</p>
                        <p>与陪伴</p>
                    </div>
                    <div style="font-size: 115px; font-weight: bold; color: #f6f6f7;">04</div>
                    <div class="bytelife4Con-font">
                        <h2 style="margin-top: 80px;">温暖的家庭礼物</h2>
                        <p>儿童节亲子礼物，春节家书礼盒，你和家人在一起的每个</p>
                        <p>珍贵瞬间，也牵挂在我们的心上</p>

                        <h2 style="margin-top: 40px;">欢乐有趣的家庭活动日</h2>
                        <p>请家人来看看 ByteDancer 们每天创造成绩的地方</p>

                    </div>
                </div>
            </div>


            <!-- 字节生活5 -->

            <div class="bytelife5">
                <div class="bytestyle-intrdoce3">
                    <div style="position: absolute; width: 400px;margin-top: 40px;">
                        <p>信息助力公益</p>
                        <p>创造社会价值</p>
                    </div>
                    <div style="font-size: 115px; font-weight: bold; color: #f6f6f7;">05</div>
                    <div  class="stylelisfe-con">
                        <h2 style="margin-top: 140px;">头条寻人 科技向善</h2>
                        <p>“头条寻人”是一个面向全国的公益寻人项目。基于庞大</p>
                        <p>的用户量，“头条寻人”根据走失人员的走失位置，回溯</p>
                        <p>其有可能出现的地点，精确地将走失信息推送给该位置附</p>
                        <p>近的用户。每一位打开定位和弹窗功能的用户，都有可能</p>
                        <p>参与到寻人的公益活动中，帮助失散家庭团圆。截至 2020</p>
                        <p>年 4 月 27 日，已经帮助 13000 个家庭团圆，最快找到走</p>
                        <p>失者仅用时 60 秒</p>
                    </div>
                </div>
                <img src="../images/bytelife5.png">
                <div class="stylelisfe-con" style="border: none; margin-left: 150px; margin-top: 90px; display: inline-block;">
                    <h2>抖音助力文旅扶贫</h2>
                    <p>通过字节跳动在流量倾斜、人才培训、产品扶持和抖音认</p>
                    <p>证的四个方面投入及运营，帮助国家级贫困县的特色文旅</p>
                    <p>资源打造品牌，提升拉动当地文旅品牌影响力并持续带动</p>
                    <p>相关产业的经营发展。截至目前，“山里 DOU 是好风光”</p>
                    <p>已落地实施河南栾川、山西永和、四川甘孜稻城亚丁等项</p>
                    <p>目</p>
                </div>
                <img src="../images/bytelife6.jpg" style="width: 450px; display: inline-block; margin-top: 60px;">
                <img src="../images/bytelife7.jpg" style="width: 450px; display: inline-block; margin-top: -360px;">
            </div>



        </div>


        <!-- 员工故事 -->
        <div class="stoty-div">
            <div class="story-top">
                <p style="font-size: 34px; font-weight: bold; margin-left: 850px; position: absolute; margin-top: 10px;">员工故事</p>
                <p style="font-size: 45px; font-weight: bold; color: #f6f6f7; margin-left: 700px;">BYTEDANCER STORY</p>
            </div>
            <div class="story-man" id="story-man">
                <div style="margin-left: 200px;">
                        <img src="../images/story1.png">
                        <p style=" margin-top: 30px; font-size: 28px;">从大学老师到算法工程师</p>
                        <P style="  margin-left: 50px; margin-top:25px;">沈池 &nbsp;AL-Lab 图像算法</P>
                        <p style=" font-size: 17px; color: #80848b; margin-top: 20px;">怀着一颗出来闯荡的心，从学术界跳到</p>
                        <p style="font-size: 17px; color: #80848b; ">工业界；公司有着丰富的应用场景和海</p>
                        <p style="font-size: 17px; color: #80848b; ">量数据资源，技术落地非常有保证</p>
                </div>
                <div>
                        <img src="../images/story2.png">
                        <p style=" margin-top: 30px; font-size: 28px;">在多元兼容的环境里持续成长</p>
                        <P style=" margin-left: 50px; margin-top:25px;">Gill &nbsp;国际化产品经理</P>
                        <p style="font-size: 17px; color: #80848b; margin-top: 20px;">不同的文化背景下的沟通是一种挑战，公司</p>
                        <p style="font-size: 17px; color: #80848b; ">鼓励多元兼容，提倡集思广益，让我看到</p>
                        <p style="font-size: 17px; color: #80848b; ">了广大可能性和成长空间</p>
                </div>
                <div>
                    <img src="../images/story3_avatar2x_1576834857749.jpg">
                    <p style=" margin-top: 30px; font-size: 28px;">在这里，看见更大的世界</p>
                    <P style=" margin-left: 50px; margin-top:25px;">左儒哲 &nbsp;飞书-客户端</P>
                    <p style="font-size: 17px; color: #80848b; margin-top: 20px;">比起其它公司，字节跳动可能更浪漫，或</p>
                    <p style="font-size: 17px; color: #80848b; ">着说，有更大的梦想。这里不设边界，只</p>
                    <p style="font-size: 17px; color: #80848b; ">要连接人与信息的事情，我们都会尝试...</p>
            </div>
        </div>



        <!-- 底部 -->

        <div class="bottom-div">
            <div class="bottom-left" >
                <span class="iconfont icon-zijietiaodong"></span>
                <p style="margin-top: 100px;">© 2012-2020 北京字节跳动科技有限公司</p>
                <p>京公网安备 11000002002023号 I 京ICP备12025439号-3</p>
            </div>
            <div class="bottom-midden1">
                <p style="color: white; margin-top: 40px;">联系我们</p>
                <p style="color: white; margin-top: 20px;">关于投递</p>
                <p style="color: white;">意见反馈</p>
            </div>            
            <div class="bottom-midden2">
                <p style="color: white; margin-top: 40px;">企业官网</p>
                <p style="color: white; margin-top: 20px;">字节跳动</p>
            </div>            
            <div class="bottom-midden3">
                <p style="color: white; margin-top: 40px;">实施动态与招聘信息，关注我们</p>
                <div class="bottom-icon">
                    <span class="iconfont icon-weixin" style="color: #4ba20c; font-size:70px;"></span>
                    <span class="iconfont icon-douyin" style="color: #000000; font-size: 50px;"></span>
                    <span class="iconfont icon-jinritoutiao" style="color: white; font-size: 50px;"></span>
                    <span class="iconfont icon-in" style="color: #3e89bf; font-size: 50px;"></span>
                    <span class="iconfont icon-bilibili" style="color: #4ab4ff; font-size: 50px;"></span>
                    <span class="iconfont icon-xiaohongshu" style="color: red; font-size: 50px;"></span>
                    <span class="iconfont icon-dianji-weibo " style="color: white; font-size: 50px;"></span>
                    <span class="iconfont icon-zhihu" style="color: #4394f8; font-size: 50px;"></span>
                </div>
            </div>
        </div>



</body>
<script type="text/javascript" src="../js/js1.js"></script>
</html>